<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/tailwind-2.0.1.css" rel="stylesheet">
  <script src="/static/vnd/mithril-2.0.4.min.js"></script>
  <script type="module" src="/static/util/h.js"></script>
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/default.min.css" type="text/css" media="screen" charset="utf-8">
  <script>var config = {{ .Config }}</script>
  <style>
	:root {
    --color-primary-r: {{ .Color.R }};
    --color-primary-g: {{ .Color.G }};
    --color-primary-b: {{ .Color.B }};
	}
  </style>
</head>
<body>
	<main></main>
	<script type="module">
		(async function() {
			h.render(document.querySelector("main"), h("main", {}, [
                {{ range .Sections }}
                h((await import("/blocks/{{.Block}}.js")).default, {overrides: config.Overrides[{{.Idx}}], section: "{{.Key}}"}),
                {{ end }}
			]))
		}());
		{{ if .Live }}new EventSource(location.href).onmessage = (e) => location.reload();{{ end }}
	</script>
</body>
</html>