{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/tailwind-2.0.1.css" rel="stylesheet">
  <script src="/static/mithril-2.0.4.min.js"></script>
  <script src="/vnd/jquery-1.11.1.min.js"></script>
  <script src="/vnd/jquery.ui-1.12.1.min.js"></script>
  <script type="module" src="/static/util/h.js"></script>
  <style>
    :root {
        --modal-display: none; /* block */
    }
  </style>
</head>
<body>
    {{template "page" .}}
</body>
</html>
{{end}}